# Editor files
*~
.#*
\#*#
.DS_Store

# Build artifacts
/bazel-*
bazel-*
/build/
/build/bin/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# VSCode artifacts
.vscode

# Python packaging artifacts
/dist
/.eggs
*.egg-info

# Python artifacts
__pycache__
*.pyc
/python/tensorstore/*.so
/python/tensorstore/*.pyd

# Other C++ build artifacts
build/*.o
build/*.a
build/*.so
